target/classes/
target/generated-sources/
target/test-classes/
target/surefire-reports/
target/maven-status/
target/engine-venv/
.git
.github
*.log
.DS_Store
.idea
*.iml
.venv/
venv/
__pycache__/
*.pyc

